<!--
<template>
  <v-card>
    <v-toolbar card prominent extended color="primary" dark="">
      <v-toolbar-title class="body-2">Add New Event</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn icon @click="closeDialog">
        <v-icon>close</v-icon>
      </v-btn>
    </v-toolbar>
    <v-card-text>
      <v-form v-model="valid" ref="form" lazy-validation>
        <v-layout row wrap>
          <v-flex lg12 sm12>
            <v-text-field label="Title" name="title" v-model="title">
            </v-text-field>
          </v-flex>
          <v-flex sm6 lg6>
            <v-menu
              class="pr-2"
              ref="statDate"
              lazy
              :close-on-content-click="false"
              v-model="startDateMenu"
              transition="scale-transition"
              offset-y
              full-width
              :nudge-bottom="-22"
              max-width="290px"
              :return-value.sync="startDate"
            >
              <v-text-field
                slot="activator"
                label="Start Date"
                v-model="startDate"
                append-icon="event"
                readonly
              ></v-text-field>
              <v-date-picker v-model="startDate" no-title scrollable>
                <v-spacer></v-spacer>
                <v-btn flat color="primary" @click="startDateMenu = false">Cancel</v-btn>
                <v-btn flat color="primary" @click="$refs.statDate.save(startDate)">OK</v-btn>
              </v-date-picker>
            </v-menu>
          </v-flex>
          <v-flex sm6 lg6>
            <v-menu
              ref="startTime"
              lazy
              :close-on-content-click="false"
              v-model="startTimeMenu"
              transition="scale-transition"
              offset-y
              full-width
              :nudge-bottom="-24"
              max-width="290px"
              :return-value.sync="startTime"
            >
              <v-text-field
                slot="activator"
                label="Start Time"
                v-model="startTime"
                append-icon="access_time"
                readonly
              ></v-text-field>
              <v-time-picker v-model="startTime">
                <v-spacer></v-spacer>
                <v-btn flat color="primary" @click="startTimeMenu = false">Cancel</v-btn>
                <v-btn flat color="primary" @click="$refs.startTime.save(startTime)">OK</v-btn>                
              </v-time-picker>
            </v-menu>
          </v-flex>   
          <v-flex sm6 lg6>
            <v-menu
              ref="endDate"
              lazy
              class="pr-2"
              :close-on-content-click="false"
              v-model="endDateMenu"
              transition="scale-transition"
              offset-y
              full-width
              :nudge-bottom="-22"
              min-width="290px"
              :return-value.sync="endDate"
            >
              <v-text-field
                slot="activator"
                label="End Date"
                v-model="endDate"
                append-icon="event"
                readonly
              ></v-text-field>
              <v-date-picker v-model="endDate" no-title scrollable>
                <v-spacer></v-spacer>
                <v-btn flat color="primary" @click="endDateMenu = false">Cancel</v-btn>
                <v-btn flat color="primary" @click="$refs.endDate.save(endDate)">OK</v-btn>
              </v-date-picker>
            </v-menu>
          </v-flex>
          <v-flex sm6 lg6>
            <v-menu
              ref="endTime"
              lazy
              :close-on-content-click="false"
              v-model="endTimeMenu"
              transition="scale-transition"
              offset-y
              full-width
              :nudge-bottom="-24"
              max-width="290px"
              :return-value.sync="endTime"
            >
              <v-text-field
                slot="activator"
                label="End Time"
                v-model="endTime"
                append-icon="access_time"
                readonly
              ></v-text-field>
              <v-time-picker v-model="endTime" >
                <v-spacer></v-spacer>
                <v-btn flat color="primary" @click="endTimeMenu = false">Cancel</v-btn>
                <v-btn flat color="primary" @click="$refs.endTime.save(endTime)">OK</v-btn>                
              </v-time-picker>
            </v-menu>
          </v-flex> 
          <v-flex lg12 sm12>
            <v-text-field textarea label="Description">

            </v-text-field>
          </v-flex>                              
          <v-spacer></v-spacer>
        </v-layout>        
      </v-form>
    </v-card-text>
    <v-card-actions class="pb-3">
      <v-spacer></v-spacer>
      <v-btn color="primary">Save</v-btn>
    </v-card-actions>
  </v-card>
</template>
-->
<template>
<div class="flex lg6" id="crud">
  <v-app id="inspire">
    <v-container grid-list-xl fluid>
      <v-layout row wrap>
        <v-col>
          <v-form v-model="valid" @submit.prevent="Add">
            <v-subheader class="pa-0 mt-3">CONTACT DETAIL</v-subheader>
            <v-text-field
              label="Nama Hewan"
              name="fullname"
              placeholder="Nama Hewan"
              v-model="form.name"
              required
            ></v-text-field>
            <!-- v-validate="'required'"
              data-vv-name="fullname"     
              :error-messages="errors.collect('fullname')" -->
            <v-btn color="secondary" v-show="!updateSubmit" >Add</v-btn>
            <v-btn color="success" v-show="updateSubmit" @click="update(form)" >Update</v-btn>
          </v-form>
        </v-col>
          <v-divider></v-divider>
        <v-col>
          <v-card-text class="pa-0">
            <template>
              <v-data-table
                :headers="headers"
                :items="users"
                hide-actions
                class="elevation-0"
              >
                <template slot="items" slot-scope="props">
                  <td class="text-xs-right"> <span>{{props.item.name}}</span></td>
                  <td class="text-xs-right">
                    <v-btn @click="edit(props.item)" flat icon color="grey">
                      <v-icon>edit</v-icon>
                    </v-btn>
                    <v-btn @click="del(props.item)" flat icon color="grey">
                      <v-icon>delete</v-icon>
                    </v-btn>
                  </td>
                </template>
              </v-data-table>
            </template>
          </v-card-text>
        </v-col>
          <!-- <div>
            <form @submit.prevent="add">
              <input type="hidden" v-model="form.id">
              <input type="text" v-model="form.name">
              <button type="submit" v-show="!updateSubmit">add</button>
              <button type="button" v-show="updateSubmit" @click="update(form)">Update</button>
            </form>

            <ul v-for="user in users" :key="user.id">
              <li>
                <span>{{user.name}}</span> &#160;
                <button @click="edit(user)">Edit</button> ||  <button @click="del(user)">Delete</button>
              </li>
            </ul>
          </div> -->
      </v-layout>
    </v-container>
  </v-app>
</div>
</template>
<script>
import axios from 'axios'
export default {
  $_veeValidate: {
    validator: 'new'
  },
  data(){
    return{
        headers: [
          {
            text: 'Name',
            align: 'left',
            value: 'name'
          },
          { text: 'Action', value: 'action', align: 'right' },

        ],
        form: {
          id: '',
          name: ''
        },
        users: [],
        updateSubmit: false,
        valid: true,
    }
  },
  mounted() {
    this.load()
  },
  methods: {
    load(){
        axios.get('http://localhost:3000/users').then(res => {
        // this.showData
        this.users = res.data //respon dari rest api dimasukan ke users
      }).catch ((err) => {
        console.log(err);
      })
    },

    add(){
      axios.post('http://localhost:3000/users/', this.form).then(res => {
          this.load()
          this.form.name = ''
      })
    },
    edit(user){ 
      this.updateSubmit = true
      this.form.id = user.id 
      this.form.name = user.name 
    },
    update(form){
        return axios.put('http://localhost:3000/users/' + form.id , {name: this.form.name}).then(res => {
        this.load()
        this.form.id = ''
        this.form.name = ''
        this.updateSubmit = false
      }).catch((err) => {
        console.log(err);
        
      })
    },
     del(user){
      axios.delete('http://localhost:3000/users/' + user.id).then(res =>{
          this.load()
          let index = this.users.indexOf(form.name)
          this.users.splice(index,1)
      })
  }
   }
  }
</script>
