<template>
  <div id="pageCRUD">
    <v-container grid-list-xl fluid>
      <v-layout row wrap>
        <crud></crud>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
 
  // import LinearStatistic from '@/components/widgets/statistic/LinearStatistic';
  import crud from '../pages/crud/crud';

  export default {
    layout: 'dashboard',
    components: {
      crud
    },
    data: () => ({
      // color: Material,
      // selectedTab: 'tab-1',
      // linearTrending: [],
      // trending: [ ]
    }),
    // computed: {
    //   activity () {
    //     return API.getActivity();
    //   },
    //   posts () {
    //     return API.getPost(3);
    //   },
    //   siteTrafficData () {
    //     return API.getMonthVisit;
    //   },
    //   locationData () {
    //     return API.getLocation;
    //   }
    // },

  };
</script>
